rely/serconfig.json
build/*
log/*.log
a.out
Doxyfile.bak
doxygen-qmi-style
/**/node_modules
.cache
.vscode
checks.json
*.sql
.cz-config.js
package-lock.json
commitlint.config.js
husky.config.js
yarn.lock
yarn-error.log
.husky
compile_commands.json
clang-format-report.*
clang-tidy-report.*
.idea
cmake-build-debug
a
a.c
/**/config.h
/**/s.log.conf
