build/*
log/*.log
a.out
Doxyfile.bak
doxygen-qmi-style 
**/html/**
node_modules
.cache
.vscode
checks.json
*.sh
*.sql
package.json
.cz-config.js
package-lock.json
commitlint.config.js
husky.config.js
yarn.lock
yarn-error.log
.husky
