build/*
log/*.log
a.out
Doxyfile.bak
doxygen-qmi-style
**/html/**
node_modules
.cache
.vscode
checks.json
*.sql
package.json
.cz-config.js
package-lock.json
commitlint.config.js
husky.config.js
yarn.lock
yarn-error.log
.husky
compile_commands.json
clang-format-report.*
clang-tidy-report.*
.idea
cmake-build-debug